.contentWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;

    position: absolute;
    width: 480px;
    height: 430px;
    left: calc(50% - 480px/2);
    top: 288px;
}

.edit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 24px;

    width: 480px;
    height: 286px;
}

.additionalActions{
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 16px;

    width: 480px;
    height: 64px;
}

.additionalAction{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    width: 480px;
    height: 24px;
}