.boxPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 122px;
}

.orderId {
  display: flex;
  align-items: center;
  height: 64px;
}

