.boxOrders {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 800px; /*756px; 852*/
  /*padding-left: 8px;
  padding-right: 8px;*/
  box-sizing: border-box;
  gap: 24px;
  overflow-y: scroll;
}
