.containerOuter {
    display: flex;
    flex-direction: column;
}

.ingredientListInnerWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.ingredientListInnerWrapper > * {
    flex: 1 1 100px;
}

.ingredientsContainerOuter {
    display: flex;
    overflow: hidden;
    height: 60vh;
}