.header {
    position: relative;
    height: 88px;
    width: 100vw;
    align-items: center;
    justify-content: center;
    background: #1C1C21;
    box-sizing: border-box;
}

.outerContainer {
    padding-inline-start: 100px;
    padding-inline-end: 126px;
}

div .container {
    display: flex;
    flex-direction: row;
    height: 56px;
    align-items: center;
    justify-content: center;
    padding: 16px 20px;
}

div .navigation {
    display: flex;
    padding: 16px 20px;
    gap: 8px;
}

.navigationPaddingOrderBlock {
    display: flex;
    padding-right: 150px;
}

.navigationPaddingUserBlock {
    display: flex;
    padding-left: 275px;
    gap: 8px;
}

.active {
    text-decoration: none;
    color: white;
}

.logo {
    padding: 16px 20px
}

a:link {
    text-decoration: none;
}

a:hover{
    color: white;
}

a {
    color: #8585AD;
}

