.header {
    position: relative;
    height: 88px;
    width: 100vw;
    align-items: center;
    justify-content: center;
    background: #1C1C21;
    box-sizing: border-box;
}

.outerContainer{
    padding-inline-start: 100px;
    padding-inline-end: 126px;
}

div .container {
    display: flex;
    flex-direction: row;
    height: 56px;
    align-items: center;
    justify-content: space-evenly;
    padding: 16px 20px;
}

div .navigation {
    display: flex;
    padding: 16px 20px;
    gap: 8px;
}