.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.baseContainerColumn {
    display: flex;
    flex-direction: column;
}

.section {
    width: 600px;
    overflow: hidden;
}

.modalDetailsWrapper {
    padding: 0 100px;
}